<!DOCTYPE html>
<html>
<head>
  <title>Results</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
</head>
<body> 
<div class=results-page>
  <div class="ranking">
    <h1>Your new rating is: <%= @ranking1.calculate %></h1>
  </div>
  <div class= "button">
  <a href="/">Home</a> 
  </div>
</div>
  
</body>
</html>